<launch>
  <!-- Arguments -->
  <arg name="camera_topic" default="raspicam_node/image"/>
  <arg name="gui" default="false"/>
  <arg name="objects_path" default="$(find sherlock_obj_recognition)/pringles"/>

  <!-- find_object_2d -->
  <node pkg="find_object_2d" type="find_object_2d" name="find_object_2d" >
	  <remap from="image" to="$(arg camera_topic)"/>
	  <param name="gui" value="$(arg gui)"/>
	  <param name="objects_path" value="$(arg objects_path)"/>
    <param name="image_transport" value="compressed"/>
  </node>
</launch>
